# ======= 编译与构建产物 =======
target/
*.jar
*.war
*.ear

# ======= 日志与临时文件 =======
*.log
logs/
log.path_IS_UNDEFINED/
temp/

# ======= IDE 与系统工具 =======
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db

# ======= 数据与环境配置 =======
data/
.env

# ======= Maven =======
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 屏蔽 docker 挂载的所有运行时动态数据和日志
docs/dev-ops/rocketmq/store/
docs/dev-ops/mysql/data/
docs/dev-ops/**/*.log
docs/dev-ops/**/data/
docs/dev-ops/**/store/

/docs/2027届毕业设计相关管理文件/
/docs/thesis_template/
/docs/JV-001_全端点盘点差异清单.md
/docs/JV-002_重复接口识别调用矩阵.md
/docs/s-pay-mall_进度明细管理表.xlsx
/docs/~$论文初稿模板_小型在线支付商城系统的设计与实现.docx
/docs/开题报告_修订版.docx
/docs/毕业论文初稿模板_小型在线支付商城系统的设计与实现.docx
/docs/JV001_其他AI分析.txt
/docs/论文要求.txt
