# ======= 编译与构建产物 =======
target/
*.jar
*.war
*.ear

# ======= 日志与临时文件 =======
*.log
logs/
log.path_IS_UNDEFINED/
temp/

# ======= IDE 与系统工具 =======
.idea/
*.iml
*.iws
*.ipr
.vscode/
.DS_Store
Thumbs.db

# ======= 数据与环境配置 =======
data/
.env

# ======= Maven =======
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 屏蔽 docker 挂载的所有运行时动态数据和日志
docs/dev-ops/rocketmq/store/
docs/dev-ops/mysql/data/
docs/dev-ops/**/*.log
docs/dev-ops/**/data/
docs/dev-ops/**/store/