# ======= 依赖与打包产物 =======
node_modules/
dist/
dist-ssr/
*.local

# ======= 日志与调试 =======
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ======= IDE =======
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ======= 构建与缓存 =======
*.tsbuildinfo
.eslintcache

# ======= Cypress =======
/cypress/videos/
/cypress/screenshots/

# ======= Vitest =======
__screenshots__/

# ======= Vite =======
*.timestamp-*-*.mjs

# ======= 系统文件 =======
.DS_Store